@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@400;600&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
}

h1 {
  color: whitesmoke;
}

p {
  font-size: 18px;
}

.bg-container {
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container .task-bank .bp5-card {
  min-height: 25px;
  padding: 0px;
  flex-direction: column;
  align-items: start;
}
.container .task-bank {
  max-width: 300px;
}

.container .task-bank .task-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 10px;
  align-items: center;
  height: 100%;
  min-height: 30px;
}

.container .task-bank .task-header .bp5-icon-dot {
  margin-left: 7px;
  margin-right: 5px;
}

.container .task-bank .bp5-collapse {
  width: 100%;
}

.container .task-bank .task-column-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.container .task-bank .task-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  font-size: 11px;
  margin-left: 10px;
}

.container .task-bank .task-column .column-name{
  align-self: center;
  text-decoration: underline;
}

.container .task-bank .task-checkbox {
  margin-bottom: 5px;
}
.container .task-bank .task-checkbox .option-name{
  margin-left: -8px;
}
/*
.container .task-bank .task-checkbox span {
  margin-inline-start: 0px;
  display: block;
}  */
.container .schedule {
  width: 50%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  max-height: 500px;
}

.container .schedule .droppable-card {
  display: flex;
  flex-direction: column;
  padding: 0px;
  min-height: 30px;
  text-align: center;
  width: 240px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.droppable-card .assigned-task {
  display: flex;
  justify-content: start;
  align-items: center;
}

.droppable-card .task-content {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.container .schedule .boundary-card{
  display: flex;
  flex-direction: column;
  padding: 0px;
  min-height: 30px;
  text-align: center;
  width: 240px;
  background-color: gray;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

/* Add the bottom border back for every second card (the 30-minute mark) */
.container .schedule .droppable-card:nth-child(2n):not(.boundary-card) {
  border-bottom: 2px solid black;
  background-color: aliceblue;
}

.container .schedule .bp5-card .timeslot {
  width: 100%;
  height: 29px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.container .schedule .bp5-card .assigned-task {
  width: 100%;
  height: 29px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container .card-column {
  max-width: 240px;
}


.elegant-text {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  font-weight: 400;
  color: whitesmoke;
}